<!DOCTYPE html>
<html>
<head>
    <title>BINUS Senayan Student Attendance Analysis Tool - Attendlytics</title>
    <!-- Include Bootstrap CSS for styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card shadow-sm" id="main-card">
                    <div class="card-body">
                        <h1 class="card-title mb-4">BINUS Senayan - Students' Attendance Data</h1>
                        <form id="uploadForm" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="file" class="form-control-file" id="fileInput" name="file">
                            </div>
                            <button type="button" class="btn btn-primary" onclick="uploadFile()">Upload</button>
                        </form>

                        <!-- Progress bar for upload -->
                        <div class="progress mt-3" id="uploadProgressBarContainer" style="display: none;">
                            <div class="progress-bar" id="uploadProgressBar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                        </div>

                        <!-- Button to display DataFrame -->
                        <button id="toggleDataFrameButton" class="btn btn-secondary mt-3" onclick="toggleDataFrame()">Display DataFrame</button>

                        <!-- Button to calculate percentage and group by NIM -->
                        <button id="aggregateByNimButton" class="btn btn-secondary mt-3" onclick="aggregateByNIM()">Calculate percentage - GroupBy NIM</button>

                        <!-- Button to calculate percentage and group by NIM and COURSE NAME -->
                        <button id="aggregateByNimCourseButton" class="btn btn-secondary mt-3" onclick="aggregateByNimCourse()">Calculate percentage - GroupBy NIM and COURSE NAME</button>

                        <!-- Progress bar for aggregation -->
                        <div class="progress mt-3" id="aggregationProgressBarContainer" style="display: none;">
                            <div class="progress-bar" id="aggregationProgressBar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                        </div>

                        <!-- Display DataFrame -->
                        <div id="dataFrameContainer" class="mt-4" style="display: none;">
                            <div class="table-responsive">
                                <!-- Add table-striped class to make rows striped -->
                                <table id="dataFrameTable" class="table table-striped table-bordered">
                                    <thead id="dataFrameTableHead">
                                    </thead>
                                    <tfoot id="dataFrameTableFoot">
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        <!-- Display Percentage - GroupBy NIM Table -->
                        <button id="toggleNimPercentageTableButton" class="btn btn-secondary mt-3" onclick="toggleNimPercentageTable()" style="display: none;">Display percentage - GroupBy NIM Table</button>

                        <div id="nimPercentageTableContainer" class="mt-4" style="display: none;">
                            <div class="table-responsive">
                                <table id="nimPercentageTable" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>NIM</th>
                                            <th>NAME</th>
                                            <th>MAJOR</th>
                                            <th>Total Present</th>
                                            <th>Total Sessions</th>
                                            <th>Percentage Present</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Display NIM Course Aggregate DataFrame -->
                        <div id="nimCourseAggregateContainer" class="mt-4" style="display: none;">
                            <div class="table-responsive">
                                <table id="nimCourseAggregateTable" class="table table-striped table-bordered"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let dataTableInitialized = false;
        let nimPercentageTableInitialized = false;

        function uploadFile() {
            var form = $('#uploadForm')[0];
            var formData = new FormData(form);
            var xhr = new XMLHttpRequest();
            var uploadProgressBarContainer = $('#uploadProgressBarContainer');
            var uploadProgressBar = $('#uploadProgressBar');

            xhr.upload.addEventListener('progress', function(e) {
                if (e.lengthComputable) {
                    var percentComplete = (e.loaded / e.total) * 100;
                    uploadProgressBar.width(percentComplete + '%');
                    uploadProgressBar.attr('aria-valuenow', percentComplete);
                    uploadProgressBar.text(Math.round(percentComplete) + '%');
                }
            });

            xhr.addEventListener('load', function() {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        uploadProgressBar.text('Upload complete');
                        setTimeout(function() {
                            alert(response.success);
                            uploadProgressBarContainer.hide();
                        }, 500); // Delay to show the completed progress bar before hiding
                    } else {
                        alert(response.error);
                        uploadProgressBarContainer.hide();
                    }
                } else {
                    alert('Error uploading file');
                    uploadProgressBarContainer.hide();
                }
            });

            xhr.open('POST', '/upload', true);
            xhr.send(formData);

            uploadProgressBarContainer.show();
        }

        function toggleDataFrame() {
            var button = $('#toggleDataFrameButton');
            var dataFrameContainer = $('#dataFrameContainer');

            if (dataFrameContainer.is(':visible')) {
                // Hide the DataFrame and change button text to "Display DataFrame"
                dataFrameContainer.hide();
                button.text('Display DataFrame');
            } else {
                // Show the DataFrame and change button text to "Hide DataFrame"
                $.ajax({
                    type: 'GET',
                    url: '/get_dataframe',
                    success: function(response) {
                        if (response.data) {
                            const tableHead = $('#dataFrameTableHead');
                            const tableFoot = $('#dataFrameTableFoot');
                            const data = $(response.data);

                            const headers = data.find('thead th');
                            let headerHtml = '<tr>';
                            headers.each(function () {
                                headerHtml += `<th>${$(this).text()}</th>`;
                            });
                            headerHtml += '</tr>';

                            tableHead.html(headerHtml);

                            $('#dataFrameTable').html(data.html());

                            if (dataTableInitialized) {
                                $('#dataFrameTable').DataTable().destroy();
                            }

                            $('#dataFrameTable').DataTable({
                                "pageLength": 10,
                                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                                "responsive": true,
                                "autoWidth": false,
                                "searching": true,
                                "ordering": true, // Enable sorting in columns
                                dom: 'Bfrtip',
                                buttons: [
                                    {
                                        extend: 'excelHtml5',
                                        text: 'Export to Excel',
                                        title: 'DataFrame'
                                    }
                                ]
                            });

                            dataTableInitialized = true;
                            dataFrameContainer.show();
                            button.text('Hide DataFrame');
                        } else {
                            alert(response.error);
                        }
                    },
                    error: function() {
                        alert('Error fetching DataFrame');
                    }
                });
            }
        }

        function aggregateByNIM() {
            $.ajax({
                type: 'POST',
                url: '/aggregate_by_nim',
                success: function(response) {
                    if (response.success) {
                        // Display an alert when the calculation is completed
                        alert('Calculation complete');

                        // Show the button to display the percentage table
                        $('#toggleNimPercentageTableButton').show();
                    } else {
                        alert('Error: ' + response.error);
                    }
                },
                error: function() {
                    alert('Error occurred while aggregating by NIM.');
                }
            });
        }

        function toggleNimPercentageTable() {
    var button = $('#toggleNimPercentageTableButton');
    var tableContainer = $('#nimPercentageTableContainer');

    if (tableContainer.is(':visible')) {
        tableContainer.hide();
        button.text('Display percentage - GroupBy NIM Table');
    } else {
        $.ajax({
            type: 'GET',
            url: '/get_nim_aggregate',
            success: function(response) {
                if (response.data) {
                    $('#nimPercentageTable').html(response.data);

                    if ($.fn.DataTable.isDataTable('#nimPercentageTable')) {
                        $('#nimPercentageTable').DataTable().destroy();
                    }

                    $('#nimPercentageTable').DataTable({
                        "pageLength": 10,
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "responsive": true,
                        "autoWidth": false,
                        "searching": true,
                        "ordering": true, // Enable sorting in columns
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                extend: 'excelHtml5',
                                text: 'Export to Excel',
                                title: 'NIM Attendance Percentage'
                            }
                        ]
                    });

                    tableContainer.show();
                    button.text('Hide percentage - GroupBy NIM Table');
                } else {
                    alert(response.error);
                }
            },
            error: function() {
                alert('Error fetching NIM percentage table.');
            }
        });
    }
}




    </script>
</body>
</html>



